@font-face {
  font-family: 'workbench';
  src: url('static/Workbench-Regular.ttf');
}
@font-face {
  font-family: 'honk';
  src: url('static/Honk-Regular.ttf');
}

body {
  background-image: url("./static/clouds.jpg");;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "sf-pro"; /* Assuming you have the SF Pro font available */
}

h1 {
  margin-bottom: 10px;
  margin-top: 32px;
  font-family: "honk"; /* Assuming you have the SF Pro font available */
  font-size: 60px;
}

canvas {
  border: 1px solid #000;
}

.draw__container {
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  background-color: white;
  border-radius: 15px;
  box-shadow: -8px 8px 1px black;
}

.instructions__interface {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.button__container {
  display: flex;
  justify-content: space-between;
}

.button__interface {
  margin-top: 12px;
  padding: 0px 18px;
  border-radius: 15px;
  background-color: rgb(219, 219, 219);
  border: none;
  font-weight: 700;
}

.succes {
  margin-top: 12px;
  padding: 6px 18px;
  border-radius: 15px;
  background-color: rgb(10, 100, 255);
  border: none;
  color: white;
  font-weight: 700;
}

.clear {
  margin-top: 12px;
  padding: 6px 18px;
  border-radius: 15px;
  background-color: rgb(255, 213, 0);
  border: none;
  color: black;
  font-weight: 700;
}
.drawings__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
